import(methods, graphics, stats)

export(bcp,
       summary.bcp,
       plot.bcp,
       legacyplot,
       print.bcp,
       fitted.bcp,
       residuals.bcp,
       interval.prob)

S3method(summary, bcp)
S3method(plot, bcp)
S3method(print, bcp)
S3method(fitted, bcp)
S3method(residuals, bcp)

useDynLib(bcp)

